.main_rapper {
  position: relative;
  height: 100vh;
  max-height: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
}

@media (min-width: 1440px) {
  .main_rapper {
    background-size: contain;
  }
}
.overview > p {
  font-size: 7px;
}

.overview {
  max-width: 350px;
}
.main_content_rapper > h4,
.main_content_rapper > h6 {
  margin-bottom: 7px;
}

.main_content_rapper > h4 {
  font-size: 13px;
}
.main_content_rapper {
  background-color: rgba(11, 11, 11, 0.532);
  border-radius: 15px;
  padding: 20px;
  border: 2px whitesmoke solid;
  max-width: 400px;
  margin-left: 50px;
}

.fade_class {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100px;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(17, 17, 17, 1) 30%,
    rgba(0, 212, 255, 0) 90%
  );
}

.buttons {
  display: flex;
}

.buttons > .bt2 {
  width: 90px;
  height: 35px;
  margin: 7px;
  font-size: 12px;
  border-radius: 15px;
  border: none;
}

.buttons > .bt1 {
  width: 100px;
  height: 35px;
  margin: 7px;
  font-size: 12px;
  border-radius: 15px;
  border: none;
}

.bt1 {
  background-color: rgba(0, 0, 0, 0.509);
  color: rgba(245, 245, 245, 0.6);
}

.bt1:hover,
.bt2:hover {
  transform: scale(1.09);
  transition: all ease 250ms;
  cursor: pointer;
}

.bt1:hover {
  background-color: rgba(0, 0, 0, 0.891);
  color: white;
  border: 1px solid white;
}

.bt2:hover {
  background-color: rgba(233, 233, 233, 0.938);
  color: black;
  border: 1px solid black;
}

.bt2 {
  background-color: rgba(198, 198, 198, 0.49);
  color: black;
}

.fade_class_up {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 20px;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(17, 17, 17, 1) 24%,
    rgba(0, 212, 255, 0) 90%
  );
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
